/*
 ┌————————————————————┐
 │     Role: NONE     │
 └————————————————————┘
 --[MENTION]-- */
#chat .cm.mention span {
	color: hsl(60,70%,50%);
}
#chat .mention {
	background: linear-gradient(hsla(60,80%,30%,.8), hsla(60,80%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(60,30%,50%) !important;
	border: none !important;
}
#chat .cm.mention .name,
#chat .cm.mention .timestamp {
	color: hsl(60,80%,50%);
}
/*
 ┌————————————————————┐
 │     Role: YOU      │
 └————————————————————┘
*/
.is-you .name,
#chat .cm.role-you .un {
	color: hsl(200,100%,50%);
}
/* --[MENTION]-- */
#chat .mention.role-you {
	background: linear-gradient(hsla(200,100%,20%,.8), hsla(200,100%,11%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(200,100%,30%) !important;
	border: none !important;
}
#chat .mention.is-you .name,
#chat .mention.is-you .timestamp {
	color: hsl(200,100%,40%) !important;
}
/*
 ┌————————————————————┐
 │   Role: FRIEND     │
 └————————————————————┘
*/
#chat .cm.role-friend .un {
	color: hsl(80,60%,50%);
}
/* --[MENTION]-- */
#chat .mention.role-friend {
	background: linear-gradient(hsla(80,60%,20%,.8), hsla(80,50%,13%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(80,50%,30%) !important;
	border: none !important;
}
#chat .mention.role-friend .name,
#chat .mention.role-friend .timestamp {
	color: hsl(80,60%,60%) !important;
}
/*
 ┌————————————————————┐
 │  Role: SILVERSUB   │
 └————————————————————┘
*/
.icon-chat-silver-subscriber {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -120px !important;
}
.icon-chat-silver-subscriber ~ span {
	color: #8F96A3 !important;
}
/* --[MENTION]-- */
#chat .mention.role-silver-subscriber {
	background: linear-gradient(hsla(220,10%,30%,.8), hsla(220,10%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(220,10%,50%) !important;
}
#chat .mention.role-silver-subscriber .name,
#chat .mention.role-silver-subscriber .timestamp {
	color: hsl(220,10%,60%) !important;
}
/*
 ┌————————————————————┐
 │   Role: GOLDSUB    │
 └————————————————————┘
*/
.icon-chat-subscriber {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -105px !important;
}
.icon-chat-subscriber ~ span {
	color: #F0B642 !important;
}
/* --[MENTION]-- */
#chat .mention.role-subscriber {
	background: linear-gradient(hsla(40,85%,30%,.8), hsla(40,85%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(40,50%,40%) !important;
}
#chat .mention.role-subscriber .name,
#chat .mention.role-subscriber .timestamp {
	color: hsl(40,85%,60%) !important;
}
/*
 ┌————————————————————┐
 │   Role: RES. DJ    │
 └————————————————————┘
*/
.icon-chat-dj {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -90px !important;
}
.icon-chat-dj ~ span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #F95 !important;
}
/* --[MENTION]-- */
#chat .mention.role-dj {
	background: linear-gradient(hsla(20,100%,30%,.8), hsla(20,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(20,50%,50%) !important;
}
#chat .mention.role-dj .name,
#chat .mention.role-dj .timestamp {
	color: hsl(20,100%,60%) !important;
}
/*
 ┌————————————————————┐
 │   Role: BOUNCER    │
 └————————————————————┘
*/
.icon-chat-bouncer {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -75px !important;
}
.icon-chat-bouncer ~ span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #F45 !important;
}
/* --[MENTION]-- */
#chat .mention.role-bouncer {
	background: linear-gradient(hsla(354,100%,30%,.8), hsla(354,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(354,50%,50%) !important;
}
#chat .mention.role-bouncer .name,
#chat .mention.role-bouncer .timestamp {
	color: #F45 !important;
}/*
 ┌————————————————————┐
 │   Role: MANAGER    │
 └————————————————————┘
*/
.icon-chat-manager {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -60px !important;
}
.icon-chat-manager ~ span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #E15 !important;
}
/* --[MENTION]-- */
#chat .mention.role-manager {
	background: linear-gradient(hsla(350,85%,30%,.8), hsla(350,85%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(350,50%,50%) !important;
}
#chat .mention.role-manager .name,
#chat .mention.role-manager .timestamp {
	color: #E15 !important;
}
/*
 ┌————————————————————┐
 │   Role: CO-HOST    │
 └————————————————————┘
*/
.icon-chat-cohost {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -45px !important;
}
.icon-chat-cohost ~ span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span,
.role-cohost .un {
	color: #58F !important;
}
/* --[MENTION]-- */
#chat .mention.role-cohost {
	background: linear-gradient(hsla(210,100%,30%,.8), hsla(210,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(210,50%,50%) !important;
}
#chat .mention.role-cohost .name,
#chat .mention.role-cohost .timestamp {
	color: hsl(210,100%,50%) !important;
}
/*
 ┌————————————————————┐
 │     Role: HOST     │
 └————————————————————┘
*/
.icon-chat-host {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -30px !important;
}
.icon-chat-host ~ span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #5BF !important;
}
/* --[MENTION]-- */
#chat .mention.role-host {
	background: linear-gradient(hsla(200,100%,30%,.8), hsla(200,100%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(200,50%,50%) !important;
}
#chat .mention.role-host .name,
#chat .mention.role-host .timestamp {
	color: hsl(200,100%,50%) !important;
}
/*
 ┌————————————————————┐
 │   Role: PROMOTER   │
 └————————————————————┘
*/
.icon-chat-promoter {
	/*background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -15px !important;*/
}
.icon-chat-promoter ~ span,
#chat .role-promoter .un {
	color: #1ABC9C !important;
}
/* --[MENTION]-- */
#chat .mention.role-promoter {
	background: linear-gradient(hsla(170,76%,25%,.8), hsla(170,76%,20%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(170,50%,40%) !important;
}
#chat .mention.role-promoter .name,
#chat .mention.role-promoter .timestamp {
	color: #20DFB9 !important;
}
/*
 ┌————————————————————┐
 │    gRole: PLOT     │
 └————————————————————┘
*/
.icon-chat-plot {
	/*background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -15px !important;*/
}
.icon-chat-plot ~ span,
#chat .role-plot .un {
	color: #E67E22 !important;
}
/* --[MENTION]-- */
#chat .mention.role-plot {
	background: linear-gradient(hsla(28,80%,35%,.8), hsla(28,80%,25%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(28,60%,50%) !important;
}
#chat .mention.role-plot .name,
#chat .mention.role-plot .timestamp {
	color: #F2A15A !important;
}
/*
 ┌————————————————————┐
 │   gRole: SITEMOD   │
 └————————————————————┘
*/
.icon-chat-sitemod {
	/*background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -15px !important;*/
}
.icon-chat-sitemod ~ span,
#chat .role-sitemod .un {
	color: #E74C3C !important;
}
/* --[MENTION]-- */
#chat .mention.role-sitemod {
	background: linear-gradient(hsla(0,70%,35%,.8), hsla(0,70%,25%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(0,50%,50%) !important;
}
#chat .mention.role-sitemod .name,
#chat .mention.role-sitemod .timestamp {
	color: #E74C3C !important;
}
/*
 ┌————————————————————┐
 │    gRole: BA       │
 └————————————————————┘
*/
.icon-chat-ambassador {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) -15px !important;
}
.icon-chat-ambassador ~ span,
#chat .role-ambassador .un {
	color: hsl(75,90%,42%) !important;
}
/* --[MENTION]-- */
#chat .mention.role-ambassador {
	background: linear-gradient(hsla(75,60%,35%,.8), hsla(75,60%,25%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(75,40%,50%) !important;
}
#chat .mention.role-ambassador .name,
#chat .mention.role-ambassador .timestamp {
	color: hsl(75,70%,50%) !important;
}
/*
 ┌————————————————————┐
 │   gRole: ADMIN     │
 └————————————————————┘
*/
.icon-chat-admin {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/pre-release/img/chat/plug_ranks.png) 0 !important;
}
.icon-chat-admin ~ span,
#chat .role-admin .un {
	color: #42A5DC !important;
}
/* --[MENTION]-- */
#chat .mention.role-admin {
	background: linear-gradient(hsla(201,70%,35%,.8), hsla(201,70%,25%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(201,70%,50%) !important;
}
#chat .mention.role-admin .name,
#chat .mention.role-admin .timestamp {
	color: #66AACC !important;
}
/*
 ┌————————————————————┐
 │    Users-list      │
 └————————————————————┘
 Needs to be in this order &
 separated from roles to
 maintain correct priorities */
/* Host */
#user-lists .group.host {
	color: #5BF;
	background: linear-gradient(to right, hsla(210,100%,30%,.5), hsla(210,100%,40%,.5)) !important;
	top: 1px;
}
/* Only make the First user the host to have as many co-hosts as you want */
#user-lists .group.host ~ .user:nth-child(2) .name {
	color: #5Bf;
}
/* Co-hosts */
#user-lists .group.host ~ .user .name {
	color: #58F;
}
/* Managers */
#user-lists .group.manager {
	color: #E15;
	background: linear-gradient(to right, hsla(0,100%,20%,.5), hsla(0,100%,30%,.5)) !important;
}
#user-lists .group.manager ~ .user .name {
	color: #E15;
}
/* Bouncers */
#user-lists .group.bouncer {
	color: #F45;
	background: linear-gradient(to right, hsla(10,100%,30%,.5), hsla(10,100%,40%,.5)) !important;
}
#user-lists .group.bouncer ~ .user .name {
	color: #F45;
}
/* DJs */
#user-lists .group.dj {
	color: #F95;
	background: linear-gradient(to right, hsla(20,100%,30%,.5), hsla(30,100%,40%,.5)) !important;
}
#user-lists .group.dj ~ .user .name {
	color: #F95;
}
/*
 ┌————————————————————┐
 │   Miscellaneous    │
 └————————————————————┘
*/
#chat .cm.mention .msg {
	/*fix RCS*/
	background: none !important;
}
#user-lists .group {
	border: none !important;
	box-shadow: 0 0 1px 1px;
}
#waitlist .list .user .name i {
	display: block; /* sub is display:none wtf plug ? */
}
.app-right .friends .list .row.is-offline {
	filter: saturate(.5);
}
