#footer-user .info {
	display: block;
	width: 85%;
	top: 1px;
	background: transparent !important;
}
#footer-user .info .name,
#footer-user .info .meta {
	left: 10px;
}
#footer-user .info .points .pp {
	top: 0; left: -6px;
}
#footer-user .info .meta .bar {
	top: 0; left: 0;
	margin-right: 0 !important;
	width: calc(100% - 33px) !important;
}
#footer-user .buttons .button {display: none}
#footer-user .buttons .button.settings {
	display: block;
	float: right;
	width: 53px;
}
