/* Chat headers button a bit more compact */
#chat-sound-button {
  margin-left: 5px !important;
}
.chat-header-button {
	margin-right: 5px !important;
}
/* To add more buttons */
#pi-delchat .icon-delete {
	top: 3px; left: 8px;
}
#pi-afk .pi-afk {
	background: url(https://dl.dropboxusercontent.com/s/pkzohhv27q1h55h/afk.png) 30px;
}
#pi-afk .pi-afk.off {
	background-position: 0 0;
}

/* Votes list */
#pi-votes {
	position: absolute;
	bottom: 61px;
	width: 254px;
	background: rgba(10,10,10,0.8);
	box-shadow: 0 0 10px #000;
	border-radius: 10px 10px 0 0; /* Otherwise, background appears behind header */
	z-index: -1; /* Make the menu appear behind votes */
}
#pi-votes #header {
	text-align: center;
	font-size: 1.2em;
	border-radius: 10px 10px 0 0;
}
#pi-votes ul {
	height: 170px;
	list-style-type: none;
	overflow-y: auto;
}
#pi-votes li {
	padding: 0px 5px;
}
#pi-votes.woot #header {
	background: linear-gradient(135deg, hsla(90,80%,50%,.8), hsla(90,80%,30%,.8));
	box-shadow: inset 0 0 10px hsl(70,100%,40%);
}
#pi-votes.grab #header {
	background: linear-gradient(hsla(270,70%,50%,.8), hsla(265,70%,30%,.8));
	box-shadow: inset 0 0 10px hsl(280,100%,40%);
}
#pi-votes.meh #header {
	background: linear-gradient(225deg, hsla(5,80%,50%,.8), hsla(0,80%,40%,.8)) !important;
	box-shadow: inset 0 0 10px hsl(15,100%,50%) !important;
}

/* Custom-BG Dialog */
.dialog-body figure img {
	width: 150px;
	margin: 1px 3px;
}
.dialog-body figure img:hover {
	cursor: pointer;
	box-shadow: 0 0 0 1px #EEE;
}

/* Chat selection
#chat-messages .cm:hover .msg {
	box-shadow: inset 0 0 0 1px hsla(0,0%,100%,0.2) !important;
}
#chat-messages .pi-selected .msg {
	background: linear-gradient(hsla(90,80%,30%,0.8), hsla(90,80%,20%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: none !important;
	cursor: pointer;
}
#chat-messages .pi-selected .msg,
#chat-messages .pi-selected .msg .timestamp {
	color: #FFF !important;
	font-weight: bolder;
	text-shadow: 0 0 5px #000;
}
#chat-messages .pi-selected .badge-box {
	background: rgba(0,0,0,0);
}
#chat-messages .pi-selected .badge-box i {
	border-color: #EEE;
}*/

#chat-input {
  left: 5px;
  width: calc(100% - 10px);
}

.cm .from .un {
	/* fix when message is too high */
	vertical-align: top !important;
}
.cm.deleted {opacity: .5;}
#rs-skip-button,
#rcs-clearchat {
	display: none;
}
.unread {
	background: linear-gradient(hsla(50,80%,20%,0.8), hsla(50,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(50,50%,30%);
}
.unread.selected {
	box-shadow: none;
}

/* [CUSTOM LOGS] */
#chat .cm .badge-box .bdg-piLogo {
	background: no-repeat url(https://raw.githubusercontent.com/Plug-It/extension/master/icon128.png);
	background-size: 30px;
}
#chat .cm .msg .from .icon-pi {
	background: no-repeat url(https://raw.githubusercontent.com/Plug-It/extension/master/icon.png);
	background-size: 15px;
	width: 15px; height: 15px;
}
/* Log */
#chat .cm.pi-log .msg .from .un,
#chat .cm.pi-log .msg .from .timestamp {color: #0BF;}
#chat .cm.pi-log {
	background: linear-gradient(hsla(210,10%,20%,.8), hsla(210,10%,10%,.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(210,50%,30%) !important;
}
/* Info */
#chat .cm.pi-info .badge-box .bdg-piLogo,
#chat .cm.pi-info .msg .from .icon-pi {
	background: url('https://cdn.plug.dj/_/static/images/emoji/sheet_apple_64.9e49508d393f52b91cd713bf158f43edd8067ea0.png');
	background-position: 0% 12.5%;
	background-size: 4100%;
}
#chat .cm.pi-info .msg .from .un,
#chat .cm.pi-info .msg .from .timestamp {color: #A5E;}
#chat .cm.pi-info {
	background: linear-gradient(hsla(260,50%,20%,0.8), hsla(260,50%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(260,50%,30%) !important;
}
/* Success */
#chat .cm.pi-success .badge-box .bdg-piLogo,
#chat .cm.pi-success .msg .from .icon-pi {
	background: url('https://cdn.plug.dj/_/static/images/emoji/sheet_apple_64.9e49508d393f52b91cd713bf158f43edd8067ea0.png');
	background-position: 7.5% 12.5%;
	background-size: 4100%;
}
#chat .cm.pi-success .msg .from .un,
#chat .cm.pi-success .msg .from .timestamp {color: #8D3;}
#chat .cm.pi-success {
	background: linear-gradient(hsla(100,70%,20%,0.8), hsla(100,70%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(100,70%,30%) !important;
}
/* Warn */
#chat .cm.pi-warn .badge-box .bdg-piLogo,
#chat .cm.pi-warn .msg .from .icon-pi {
	background: url('https://cdn.plug.dj/_/static/images/emoji/sheet_apple_64.9e49508d393f52b91cd713bf158f43edd8067ea0.png');
	background-position: 5% 27.5%;
	background-size: 4100%;
}
#chat .cm.pi-warn .msg .from .un,
#chat .cm.pi-warn .msg .from .timestamp {color: #ED5;}
#chat .cm.pi-warn,
#chat .cm.unread {
	background: linear-gradient(hsla(50,80%,20%,0.8), hsla(50,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(50,50%,30%) !important;
}
/* Error */
#chat .cm.pi-error .badge-box .bdg-piLogo,
#chat .cm.pi-error .msg .from .icon-pi {
	background: url('https://cdn.plug.dj/_/static/images/emoji/sheet_apple_64.9e49508d393f52b91cd713bf158f43edd8067ea0.png');
	background-position: 10% 17.5%;
	background-size: 4100%;
}
#chat .cm.pi-error .msg .from .un,
#chat .cm.pi-error .msg .from .timestamp {color: #D33;}
#chat .cm.pi-error {
	background: linear-gradient(hsla(0,80%,20%,0.8), hsla(0,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(0,80%,30%) !important;
}
/* Debug */
#chat .cm.pi-debug .badge-box .bdg-piLogo,
#chat .cm.pi-debug .msg .from .icon-pi {
	background: url(https://dl.dropboxusercontent.com/s/ya2j1utm9ijly48/rank_git70.png);
	background-size: 100%;
}
#chat .cm.pi-debug .msg .from .un,
#chat .cm.pi-debug .msg .from .timestamp {color: #FA5;}
#chat .cm.pi-debug {
	background: linear-gradient(hsla(35,80%,20%,0.8), hsla(35,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(35,80%,30%) !important;
}

/* [RANKS] */
#chat .is-dev .un::before,
#chat .is-helper .un::before,
#chat .is-graphist .un::before,
#chat .is-translator .un::before,
#chat .is-community-manager .un::before,
#chat .is-alpha .un::before,
#chat .is-bot .un::before {
	content: "\0000a0";
	width: 15px; height: 15px;
	position: relative;
	top: 1px; left: -2px;
	float: left;
}
/* Bot */
#chat .is-bot .bdg,
#chat .is-bot .no-badge {
	background: url(https://dl.dropboxusercontent.com/s/goy2s0zwb4znd9h/badge_bot.png) !important;
	background-position: 0 0 !important;
}
#chat .is-bot .no-badge i {
	display: none !important;
}
#chat .is-bot .un::before {
	background: url(https://dl.dropboxusercontent.com/s/ln432fkdegx236w/rank_bot.png) no-repeat 0 0 / 15px;
}
#chat [data-cid*="5285179"] .un:after {
	content: " #H2G2";
	color: #80C3FF;
	font-style: italic;
}
#chat .emote.is-bot {
	background: linear-gradient(hsla(219,100%,20%,.8), hsla(219,100%,10%,.8)),
	linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
	border-left: none !important;
	text-align: left;
	box-shadow: inset 0 0 0 1px hsla(220,100%,50%,.5);
	border: none !important;
}
#chat .emote.is-bot .un, #chat .emote.is-bot .timestamp {
	color: hsl(210,100%,60%) !important;
}
#chat .emote.is-bot i {
	display: inline !important;
}
#chat .emote.is-bot .text {
	font-style: normal;
}
/* Alpha tester */
#chat .is-alpha .un::before {
	background: url(https://dl.dropboxusercontent.com/s/3umq0404eq6wtsn/badge%20alpha.png) no-repeat 0 0 / 17px;
}
/* Community Manager */
#chat .is-community-manager .un::before {
	background: url(https://dl.dropboxusercontent.com/s/gq1fsgwsj864wom/rank_cm.png) no-repeat 0 0 / 15px;
}
/* Translator */
#chat .is-translator .un::before {
	background: url(https://dl.dropboxusercontent.com/s/glwcrjm3cj0jwmx/rank_translator.png) no-repeat 0 0 / 15px;
}
/* Graphist */
#chat .is-graphist .un::before {
	background: url(https://dl.dropboxusercontent.com/s/hqt3uvc261qojtr/rank_designer.png) no-repeat 0 0 / 15px;
}
/* Helper */
#chat .is-helper .un::before {
	background: url(https://dl.dropboxusercontent.com/s/o3hvjc1ta68syjc/rank_git.png) no-repeat 0 0 / 15px;
}
/* Dev */
#chat .is-dev .un::before {
	background: url(https://dl.dropboxusercontent.com/s/cwqmach13k8silq/icon-54.png) no-repeat 0 0 / 15px;
}
/* VIP */
#chat [data-cid*="4613422"] .bdg {
	background: url(https://dl.dropboxusercontent.com/s/k2yra4gy3lv91bh/badge_wibla.png);
	background-position: 0 0 !important;
}
#chat [data-cid*="4506088"] .bdg {
	background: url(https://dl.dropboxusercontent.com/s/ujc9japkbacrcud/badge_zurbo.png);
	background-position: 0 0 !important;
}
#chat [data-cid*="6604002"] .bdg {
	background: url(https://dl.dropboxusercontent.com/s/0jovfcarwkc7mop/badge_amy.png);
	background-position: 0 0 !important;
}
