@import url('https://dl.dropboxusercontent.com/s/apb5he0qiy5u4yx/blue.css');

#vote {
	width: initial !important;
}
#woot, #grab, #meh {
	border-radius: 0 !important;
}
#woot .bottom, #grab .bottom, #meh .bottom {
	background: transparent !important;
}
#chat-messages {
	background:
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
		#111 url('https://i.imgur.com/kCoqkEt.png') no-repeat center center / cover;
	box-shadow: 0 51px 0 rgba(30,35,40,.7);
}
#chat-input{
	border-radius: 20px;
	background: linear-gradient(to top, hsla(220,100%,15%,.7), hsla(220,100%,10%,.7));
}
