.media-list.history .row {
  height: 40px !important;
}
.media-list.history img {
  margin: 5px 10px !important;
  width: 40px !important;
  height: 30px !important;
}
.media-list.history .meta {
  height: 39px !important;
  margin-left: 60px !important;
}
.media-list.history .meta .author {
  left: 2px !important;
  top: 2px !important;
  width: 76% !important;
}
.media-list.history .meta .name,
.media-list.history .meta .title {
  top: 2px !important;
  right: 2px;
  width: auto;
  text-align: right;
}
#history-panel .media-list.history .row:hover .meta .name,
#history-panel .media-list.history .row:hover .meta .timestamp {
  visibility: hidden;
}
.media-list.history .meta .timestamp {
  top: 20px;
  right: 2px;
  color: #808691;
  text-align: right;
  font-weight: 400;
}
.media-list.history .score {
  position: absolute;
  top: 20px;
  left: 62px;
  width: 25%;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
}
.media-list.history .actions {
  top: 0px; right: 10px;
}
.media-list.history .actions,
.media-list.history .actions:hover .add {
  width: 40px; height: 40px;
  border-radius: 100% !important;
}
.media-list.history .actions i {
  top: 5px !important;
  left: 7px !important;
}
