/*le logo*/
#Box, #icon {
	position: absolute;
	right: 345px; top: 0;
	width: 54px; height: 54px;
	z-index: 20;
	cursor: pointer;
	box-shadow: inset 0 -2px 0 -1px #0a0a0a;
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/icon-54.jpg);
	transition: ease-in-out 0.30s;
}
#icon {
	position: relative;
	top: -54px; left: 0;
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/icon-hover-54.jpg);
}
#Box:hover #icon, #icon:hover {
	top: 0px;
}
#Box:hover {
	background-position: 0 54px;
}
/*le menu*/
#Settings {
	position: absolute;
	right: 200px; top: 54px;
	width: 145px;
	z-index: 0;
	font-family: arial;
	visibility: hidden;
	background: linear-gradient(to left, #0a0a0a, #111);
	border: 2px solid #eee;
	border-right: 0; border-top: 0;
	border-radius: 0 0 0 15px;
	box-shadow: inset 1px -1px 10px #0a0a0a;
	transition: ease-in-out 0.25s;
}
#Settings ul {
	list-style-type: none;
}
#Settings li {
	cursor: pointer;
	text-align: center;
	font-size: 22px;
	color: #808691;
}
#Settings li:hover {
	background: linear-gradient(#1A1A1A, #111);
	border-radius: 4px;
	box-shadow: 0 0 3px;
	text-shadow: 0 0 7px;
	color: #DDD;
}
#Settings #ws-twitter:hover, #Settings #ws-twitter a:hover {
	color: #0bf !important;
}
#Settings #ws-off {
	color: #A33 !important;
}
#Settings #ws-off:hover {
	color: #F33 !important;
}
#Settings #ws-V, #Settings #ws-twitter a {
	color: #5AD;
}
#Settings #ws-V:hover {
	background: none !important;
	text-shadow: 0 0 0 #000 !important;
	box-shadow: none !important;
	cursor: default;
	border-radius: none !important;
}
.ws-on {
	color: #5A5 !important;
}
.ws-on:hover {
	color: #5E5 !important;
}
.ws-off {
	color: #D85 !important;
}
.ws-off:hover {
	color: #F93 !important;
}
.ws-delChat {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/delChat.png);
}

/*placement du menu*/
#history-button {
	right: 54px !important;
}
#now-playing-time, #volume, #button {
	right: calc(+115px) !important;
}

/* Création du bouton Skip */
.button.rmv, .button.skip {
	width: 50% !important;
	top: 0 !important;
	background: hsla(210,10%,20%,0.8);
}
.button.rmv:hover, .button.skip:hover {
	background: hsla(210,10%,30%,0.8);
}
.button.rmv i {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/romveDJ.png) no-repeat center center;
	background-size: 23px;
}
.button.skip i {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/skip.png) no-repeat center center;
	background-size: 23px;
}

/* Screen selection */
#chat-messages .cm:hover .msg {
	box-shadow: inset 0 0 0 1px hsla(0,0%,100%,0.2) !important;
}
#chat-messages .ws-selected .msg {
	background: linear-gradient(hsla(90,80%,30%,0.8), hsla(90,80%,20%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: none !important;
	cursor: pointer;
}
#chat-messages .ws-selected .msg,
#chat-messages .ws-selected .msg .timestamp {
	color: #FFF !important;
	font-weight: bolder;
	text-shadow: 0 0 5px #000;
}
#chat-messages .ws-selected .badge-box {
	background: rgba(0,0,0,0);
}
#chat-messages .ws-selected .badge-box i {
	border-color: #EEE;
}

/* Le reste */
#playback-container {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
#twitter-menu, #facebook-menu{
	display: none !important;
}

/*--[Custom Logs]--*/
#chat .cm.ws-warn {
	background: linear-gradient(hsla(60,80%,20%,0.8), hsla(60,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(60,100%,30%);
}
#chat .cm.ws-error {
	background: linear-gradient(hsla(0,80%,20%,0.8), hsla(0,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(0,80%,30%);
}
#chat .cm.ws-info {
	background: linear-gradient(hsla(260,50%,20%,0.8), hsla(260,50%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(260,50%,30%);
}
/*--[BOT]--*/
#chat .cm.emote.id-7872943 .bdg, #chat .cm.emote.id-7872943 .no-badge {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_bot.png) !important;
	background-position: 0 0 !important;
}
#chat .cm.emote.id-7872943 .no-badge i {
	display: none !important;
}
#chat .cm.emote.id-7872943 .icon-chat-subscriber {opacity: 0;width: 0;}
#chat .cm.emote.id-7872943 .icon-chat-host {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_bot.png);
	background-size: 15px;
	background-position: 0 0 !important;
}
/*--[DEV]--*/
#chat .cm.id-4613422 .icon-chat-subscriber, #chat .cm.id-4506088 .icon-chat-subscriber, #chat .cm.id-209178 .icon-chat-subscriber {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_git.png);
	background-position: 0 0 !important;
}
#chat .cm.id-4613422 .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_wibla.png);
	background-position: 0 0 !important;
}
#chat .cm.id-4506088 .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_zurbo.png);
	background-position: 0 0 !important;
}
#chat .cm.id-4613422 i.icon-chat-host,
#chat .cm.id-4613422 i.icon-chat-cohost,
#chat .cm.id-4613422 i.icon-chat-manager,
#chat .cm.id-4613422 i.icon-chat-bouncer,
#chat .cm.id-4613422 i.icon-chat-dj {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_dev.png);
	background-position: 0 0 !important;
}
/*--[ALPHA TESTER]--*/
#chat .cm.id-4726785 .bdg,
#chat .cm.id-4272266 .bdg,
#chat .cm.id-4782448 .bdg,
#chat .cm.id-4656513 .bdg,
#chat .cm.id-4024959 .bdg,
#chat .cm.id-3481629 .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/Badge%20alpha.png);
	background-position: 0 0 !important;
}
/*--[Designer]--*/
#chat .cm.id-4336782 .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_designer.png);
	background-size: 30px;
	background-position: 0 0 !important;
}
#chat .cm.id-4336782 i.icon-chat-designer {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_designer.png);
	background-position: 0 0 !important;
}