/*le logo*/
#pi-logo, #icon {
	position: absolute;
	right: 345px; top: 0;
	width: 54px; height: 54px;
	z-index: 20;
	cursor: pointer;
	box-shadow: inset 0 -2px 0 -1px #0a0a0a;
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/icon-54.jpg);
	transition: ease-in-out 0.30s;
}
#icon {
	position: relative;
	top: -54px; left: 0;
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/other/icon-hover-54.jpg);
}
#pi-logo:hover #icon, #icon:hover {
	top: 0px;
}
#pi-logo:hover {
	background-position: 0 54px;
}
/*le menu*/
#pi-menu {
	position: absolute;
	right: 200px; top: 54px;
	width: 150px;
	z-index: 0;
	font-family: Roboto;
	visibility: hidden;
	background: linear-gradient(to left, #0a0a0a, #111);
	transition: ease-in-out .25s;
}
#pi-menu *::selection {
	background: transparent;
}
#pi-menu h2 {
	cursor: pointer;
	font-weight: normal;
	font-size: 18px;
	margin: 2px 0;
	background: #222;
}
#pi-menu ul {list-style-type: none;}
#pi-menu li {
	cursor: pointer;
	font-size: 17px;
	color: #808691;
}
#pi-menu a {color: #888;}
#pi-menu a:hover {color: #8AD;}
#pi-menu #pi-V:hover {cursor: default;}
#pi-menu *[class^="pi"]:before {
	content: "\2713";
	margin: 0 2px;
}
#pi-menu .pi-on, #pi-menu .pi-on:before {color: #5bf;}
#pi-menu .pi-off, #pi-menu .pi-off:before {color: #888;}
.pi-delChat {
	background: url(https://raw.githubusercontent.com/Plug-It/pi/master/images/other/delChat.png);
}

/* placement du menu */
#history-button {
	right: 54px !important;
}
#now-playing-time, #volume, #button {
	right: calc(+115px) !important;
}

/* menu de moderation */
#pi-rmvDJ, #pi-skip {
	position: absolute;
	visibility: visible;
	width: calc(50% - 2px) !important;

	background: linear-gradient(hsla(210,10%,20%,0.8), hsla(210,10%,15%,0.8));
	border: 2px solid #AAA;
	border-top: 0;
	text-align: center;
	cursor: pointer;
}
#pi-rmvDJ:hover, #pi-skip:hover {
	background: linear-gradient(hsla(210,10%,30%,0.8), hsla(210,10%,25%,0.8));
}
#pi-rmvDJ img, #pi-skip img {
	height: 23px;
	margin-top: 3px;
}
#pi-rmvDJ {
	border-radius: 0 0 0 10px;
	left: -1px;
}
#pi-skip {
	position: relative;
	left: calc(50% - 1px);
	border-radius: 0 0 10px;
}

/* Screen selection 
#chat-messages .cm:hover .msg {
	box-shadow: inset 0 0 0 1px hsla(0,0%,100%,0.2) !important;
}
#chat-messages .pi-selected .msg {
	background: linear-gradient(hsla(90,80%,30%,0.8), hsla(90,80%,20%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: none !important;
	cursor: pointer;
}
#chat-messages .pi-selected .msg,
#chat-messages .pi-selected .msg .timestamp {
	color: #FFF !important;
	font-weight: bolder;
	text-shadow: 0 0 5px #000;
}
#chat-messages .pi-selected .badge-box {
	background: rgba(0,0,0,0);
}
#chat-messages .pi-selected .badge-box i {
	border-color: #EEE;
}*/

/* Le reste */
#playback-container {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	border: solid #000;
	border-width: 0 1px 2px 1px;
	border-radius: 3px;
}
#twitter-menu, #facebook-menu {
	display: none !important;
}

/*--[Custom Logs]--*/
#chat .cm .badge-box .bdg-piLogo {
	background: no-repeat url(https://raw.githubusercontent.com/Plug-It/extension/master/icon128.png) !important;
	background-size: 30px !important;
}
#chat .cm .msg .from .icon-pi {
	background: no-repeat url(https://raw.githubusercontent.com/Plug-It/extension/master/icon.png) !important;
	background-size: 15px !important;
	width: 15px; height: 15px;
}
#chat .cm .msg .from .icon-pi + .un {
	color: #FFF !important;
}
#chat .cm.pi-warn {
	background: linear-gradient(hsla(60,80%,20%,0.8), hsla(60,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(60,100%,30%);
}
#chat .cm.pi-error {
	background: linear-gradient(hsla(0,80%,20%,0.8), hsla(0,80%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(0,80%,30%);
}
#chat .cm.pi-info {
	background: linear-gradient(hsla(260,50%,20%,0.8), hsla(260,50%,10%,0.8)),
	linear-gradient(to right, transparent, hsla(0,0%,100%,0.2)) !important;
	box-shadow: inset 0 0 0 1px hsl(260,50%,30%);
}
/*--[BOT]--*/
#chat .is-bot .bdg,
#chat .is-bot .no-badge {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_bot.png) !important;
	background-position: 0 0 !important;
}
#chat .is-bot .no-badge i {
	display: none !important;
}
#chat .is-bot .icon-chat-subscriber {display: none;}
#chat .is-bot [class*="icon-chat"] {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_bot.png);
	background-size: 15px;
	background-position: 0 0 !important;
}
#chat [data-cid*="5285179"] .un:after {
	content: " #H2G2";
	color: #80C3FF;
	font-style: italic;
}
/*--[DEV]--*/
#chat [data-cid*="4613422"] .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_wibla.png);
	background-position: 0 0 !important;
}
#chat [data-cid*="4506088"] .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_zurbo.png);
	background-position: 0 0 !important;
}
#chat .is-dev [class*="icon-chat"] {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_dev.png);
	background-position: 0 0 !important;
}
#chat .is-dev .icon-chat-subscriber {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_git.png);
	background-position: 0 0 !important;
}
/*--[ALPHA TESTER]--*/
#chat .is-alpha .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/Badge%20alpha.png);
	background-position: 0 0 !important;
}
/*--[Designer]--*/
#chat .is-graphist .bdg {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/badge_designer.png);
	background-size: 30px;
	background-position: 0 0 !important;
}
#chat .is-graphist [class*="icon-chat"] {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_designer.png);
	background-position: 0 0 !important;
}
