.media-list .row {
  height: 40px;
}

.media-list img {
  margin: 5px 10px;
  width: 40px;
  height: 30px;
}

.media-list .meta {
  height: 39px;
  margin-left: 60px;
}
.media-list .meta .author {
  left: 2px;
  top: 2px;
  width: 76%;
}
.media-list .meta .name,
.media-list .meta .title {
  top: 2px;
  right: 2px;
  width: auto;
  text-align: right;
}
#history-panel .media-list.history .row:hover .meta .name,
#history-panel .media-list.history .row:hover .meta .timestamp {
  visibility: hidden;
}
.media-list.history .meta .timestamp {
  top: 18px;
  right: 2px;
  color: #808691;
  text-align: right;
  font-weight: 400;
}

.media-list.history .score {
  position: absolute;
  top: 20px;
  left: 62px;
  width: 25%;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
}
.media-list.history .actions {
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
}
.media-list .actions div i {
  top: 0px;
  left: 2px;
  cursor: pointer;
}

.media-list .actions {
  top: 5px;
  right: 15px;
  height: 30px;
}
